<hr/>
<div style="text-align:center">
  <img width="300" alt="Logo" src="assets/images/logo.gif"/>
  <!-- Faut mettre dans assets sinon ca marche pas ?! -->
</div>
<div style="text-align:center">
  <!-- Routes HTML -->
  <a href="/abc">Premier composant</a>
</div>
<div style="text-align:center">
  <!-- Routes Angular -->
  <a routerLink="/xyz">Deuxieme composant</a>
</div>
<div style="text-align:center">
  <router-outlet style="text-align:center"></router-outlet>
</div>
<hr/>
<p style="font:bold;text-align:center;border-style:double">L'id passee en parametre est {{ idTechSelect }}</p>
