<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="https://www.editions-eni.fr"><img src="https://upload.wikimedia.org/wikipedia/commons/9/98/International_Pok%C3%A9mon_logo.svg"/></a>
  </div>
  <div class="navbar-menu" id="barreDeNavigation">
    <div class="navbar-start">
      <a class="navbar-item" routerLink="generations" id="lienGenerations">Generations</a>
      <a class="navbar-item" routerLink="pokemons" id="lienPokemons">Pokemons</a>
    </div>
    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <a class="button is-primary is-small" routerLink="creerCompte"><strong>Creer un compte</strong></a>
          <a class="button is-light is-small" routerLink="seConnecter">Se connecter</a>
        </div>
      </div>
    </div>
  </div>
</nav>
